@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --fonte-padrao: "Nunito", sans-serif;
}

body {
    font-family: var(--fonte-padrao);
}

form {
    background-color: rgba(78, 115, 223, 0.2);
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    border: solid #ccc 1px;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
}

input,
select {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}

input:focus,
select:focus {
    background-color: #eef2ff;
    outline: none;
}

.linha {
    display: flex;
}

.lc10 {
    width: 96%;
    margin: 2%;
}

.lc09 {
    width: 86%;
    margin: 2%;
}

.lc8 {
    width: 76%;
    margin: 2%;
}

.lc7 {
    width: 66%;
    margin: 2%;
}

.lc6 {
    width: 56%;
    margin: 2%;
}

.lc5 {
    width: 46%;
    margin: 2%;
}

.lc4 {
    width: 36%;
    margin: 2%;
}

.lc3 {
    width: 26%;
    margin: 2%;
}

.lc2 {
    width: 16%;
    margin: 2%;
}

.lc1 {
    width: 6%;
    margin: 2%;
}